/*color variables*/

li a {
    color: rgb(10, 5, 71);
}

body {
    background-color: #f4f4ed;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}

ul.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 2rem;  
}

li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 2rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    background: linear-gradient(135deg, rgb(181, 212, 255) 0%, rgb(255, 249, 215) 100%);
    box-shadow: 0 9px 9px 5px rgba(51, 51, 51, 0.18);
  }


li:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  }