.social-media{
    background-color: #33383c;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.sm-icons {
    text-align: center;
    padding:10px;
}

.sm-contact {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.github:hover, 
.twitter:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
}

.footer-heading {
    text-transform: uppercase;   
}

.highlight{
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-color:#E0952E;

}
.text-white{
    color: #fff;
}

.hero .content{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

.fnt-small{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.fnt-medium{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.fnt-medium-1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.fnt-big{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

a {
    color: #ffffff;
}

a .author {
    color: #acacac;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.2s;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
  
a:hover {
    color: #E0952E;
}

