.social-media{
    background-color: #33383c;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0;
}

.sm-icons {
    text-align: center;
    padding:10px;
}

.sm-contact {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.github:hover, 
.twitter:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
}

.footer-heading {
    text-transform: uppercase;   
}

.highlight{
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-color:#E0952E;

}
.text-white{
    color: #fff;
}

.hero .content{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

.hero .content .header{
    font-weight: 900;
}

.fnt-small{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.fnt-medium{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.fnt-medium-1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.fnt-big{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

a {
    color: #ffffff;
}

a .author {
    color: #acacac;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.2s;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
  
a.button{
    color: black;
    border: 3px solid  #78706b;
    border-radius: 0.6em;
    padding: 0.5em 0.5em;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
  
a:hover {
    color: #E0952E;
}

span {
    background:#ff5d06;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

canvas{
    background-color: rgb(233, 226, 255);
    position: absolute;
    z-index: -100;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

footer{
    z-index: 1;
}

.hero{
    z-index: 1;
}