{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--add css stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
    <!--added frontawesome-->
    <script src="https://kit.fontawesome.com/1ee24f00e4.js" crossorigin="anonymous"></script>
    <!--google font stylesheet-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <!--everyone loves some confetti, why not? -->
    <script type="module">
        import confetti from 'https://cdn.skypack.dev/canvas-confetti';
        confetti();
    </script>

    <div class="hero">
        <div class="content">
            <h1>Vote your favourite topics!</h1>
            <p> Welcome to everyone's favourite voting app</p>
            <a href="/polls" class="button fnt-small">Go Take a Look</a>
        </div>
    </div>


    <!-- footer for the social media-->
   <footer>
    <div class="social-media">
        <div class="sm-contact footer-heading text-white highlight">
            Follow Me
        </div>
        <div class="sm-icons text-white">
            <i class="fa-brands fa-github github"></i>
            <i class="fa-brands fa-twitter twitter"></i>
        </div>
        <div class="sm-copyright text-white">
            Copyright © 2022 MIT License <a>opheliah95</a>.
        </div>
    </div>
   </footer>
</body>
</html>